html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Header*/

header {
    height: 64px;
}

.logo {
    height: 32px;
    padding-left: 24px;
}

.headerbuttons {
    float: right;
    gap: 16px;
    padding-right: 24px;
}


/*start section*/

.container {
    display: flex;
    align-items: center;
    background-color: lightgray;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.startsection img {
    max-width: 60%;
    padding: 32px 24px;
}

.startsectiontxt {
   font-size: 20px;
   padding-right: 20px;
   color: black;
   opacity: 0.8;
}

img {
    max-width: 100%;
    height: auto;
}

.startbutton {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: dimgray;
    color: white;
    font-weight: bold;
    opacity: 1;
}

/*second row*/

.secondbigimage img {
    max-width: 700px;
    padding: 32px 24px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-left: 15px;
}


.textsecondrow {
    display: flex;
    margin-left: 140px;
}

.secondrowrightside {
    display: flex;
    float: right;
    justify-content: center;
    flex-direction: column;
}
